<div class="footer">

  <div class="footer-img">
    <img class="white" src="assets/logo.svg">
  </div>

  <div class="footer-right">
    <div>


      <span class="header-s1 white">Felipe</span>
      <span class="header-s2 white">Linares</span>
      <span class="header-s3 white">UX Designer, Developer & Consultant</span>
    </div>
    <div>
      <span class="header-s3 white">
        © 2020 Felipe Linares. All rights reserved.
      </span>
    </div>
  </div>

  <div class="footer-left">
    <div class="social-icons-flex social-icons-j2">
      <img class="white" src="assets/Dribbble.svg" alt="dribdble">
      <img class="white" src="assets/GitHub.svg" alt="github">
      <img class="white" src="assets/Instagram.svg" alt="instagram">
      <img class="white" src="assets/LinkedIn.svg" alt="linkedin">
    </div>
  </div>

</div>
