* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-weight: normal;
  background-color: #f9f9f9;
  color: #333333;
}

.grid-system {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: auto auto;
  margin: 0rem;
  padding: 0;
}

.logo {
  padding: 1rem;
  justify-self: start;
}

.menu {
  padding: 1rem;
  justify-self: end;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.left>div {
  text-align: left;
  box-sizing: border-box;
  margin: 2rem 0rem 0rem 10rem;
}

.header-m1 {
  font-weight: bold;
  font-size: 3rem;
  color: #181818;
}

.header-m2 {
  font-size: 3rem;
}

.header-m3 {
  display: block;
}

.red-header-m3 {
  display: block;
  font-weight: bold;
  color: #e95841;
}

.header-s1 {
  font-weight: bold;
  font-size: 2rem;
  color: #181818;
}

.header-s2 {
  font-size: 2rem;
}

.header-s3 {
  display: block;
}

.red-header-s3 {
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
  color: #e95841;
}

.text-one {
  width: 27rem;
  word-wrap: break-word;
  /* line-height: 7rem; */
}

#dash {
  width: 5rem;
  height: 0.3rem;
  background-color: #e95841;
}

.btn-flex {
  display: flex;
  flex-direction: row;
}

.red-gradiant-btn {
  width: 8.2rem;
  height: 2rem;
  font-size: 0.8rem;
  color: #ffffff;
  border-radius: 2rem;
  border: 0;
  background-image: linear-gradient(-45deg, #e94b63, #e95841);
  margin-right: 1rem;
}

.white-btn {
  width: 8.2rem;
  height: 2rem;
  font-size: 0.8rem;
  color: #e95841;
  border-radius: 2rem;
  border: 0;
  background-color: #f9f9f9;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.1);
}

.right {
  text-align: center;
  box-sizing: border-box;
  margin: 0rem 0rem 6rem 0rem;
}

.right-container>div {
  text-align: left;
  box-sizing: border-box;
  margin: 0rem 0rem 0rem 10rem;
}

.left {
  margin: 0rem 0rem 6rem 0rem;
}

.hexagon-img {
  z-index: 0;
}

.float-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ffffff;
  margin: -8rem 0 0 24rem;
  z-index: 1;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.social-icons-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.social-icons-j1 {
  justify-content: center;
}

.social-icons-j2 {
  justify-content: left;
}

.social-icons-j1>img {
  box-sizing: border-box;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 1;
}

.social-icons-j2>img {
  box-sizing: border-box;
  padding: 0 1rem 0 0rem;
}

.center-container {
  margin-top: 7rem;
}

.img-container-left {
  background-image: url("../assets/Asset.png");
  margin-left: -7rem;
  height: 95vh;
  background-repeat: no-repeat;
}

.img-container-right {
  background-image: url("../assets/Asset.png");
  height: 95vh;
  background-repeat: no-repeat;
  /* background-position: top left; */
  /* background-size: cover; */
  /* justify-self: end; */
  /* align-self: end; */
  margin-left: -20rem;
  /* overflow: hidden; */
}

.right-text-container>div {
  text-align: left;
  box-sizing: border-box;
  margin: 2rem 0rem 0rem 2rem;
}

.grid-form {
  display: grid;
  grid-template-columns: auto auto;

}

.flex-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.flex-input>div {
  width: 15rem;
  box-sizing: border-box;
  padding: 0 0rem 0 0rem;
}

.form-container>div {
  /* text-align: center; */
  margin: 2rem 0rem 0rem 0rem;
  overflow: hidden;
}

.input {
  border: 0;
  background-color: #ffffff;
  border-radius: 0.3rem;
  margin-top: 0.3rem;
}

.input-m {
  width: 30rem;
  height: 2.5rem;
}

.input-l {
  width: 30rem;
  height: 8rem;
}

.drop-down {
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 1rem;
  width: 14rem;
  height: 2.5rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  margin-top: 3rem;
  padding-top: 3rem;
}

.footer-img {
  background-color: #ffffff;
  justify-self: end;
}

.footer-right {
  background-color: #ffffff;
}

.footer-right>div {
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.footer-left {
  background-color: #ffffff;
  justify-self: center;
  align-items: center;
  margin-top: 2.5rem;
  overflow: hidden;

}

.white {
  background-color: #ffffff;
}
