<div class="grid-system">
  <div class="flex-container img-container-left">
    <!-- <img src="assets/Asset.png"> -->
  </div>
  <div class="flex-container right-text-container  center-container">
    <div>
      <span class="red-header-m3">Understand. Together.</span>

      <span class="header-m1">Data</span>
      <span class="header-m2">Visualization</span>


    </div>

    <div class="text-one">
      Create personalized infographics to bring your data to a very friendly level so that anyone can
      understand in the best way and without bias.
    </div>

    <div class="btn-flex">
      <button class="red-gradiant-btn">Get In touch</button>
      <button class="white-btn">Check example</button>
    </div>
  </div>
</div>
