<div class="grid-system">
  <div class="flex-container left center-container">
    <div>
      <span class="red-header-m3">Create. Together.</span>

      <span class="header-m1">Front</span>
      <span class="header-m2">Dev</span>

    </div>

    <div class="text-one">
      I can help you develop your digital product, thanks to the experience gained in HTML 5, VUE, JS,
      WordPress and more. I create and turn that idea into reality.
    </div>

    <div class="btn-flex">
      <button class="red-gradiant-btn">Let’s create</button>
      <button class="white-btn">Explore this page</button>
    </div>
  </div>
  <div class="img-container-right">
    <!-- <img src="assets/Asset.png"> -->
  </div>
</div>
