<div class="grid-system">
  <div class="flex-container left">

    <div>
      <span class="header-m1">Felipe</span>
      <span class="header-m2">Linares</span>

      <span class="header-m3">UX Designer, Developer & Consultant</span>

    </div>
    <div id="dash"></div>
    <!-- <div> -->
    <div class="text-one">
      I’m a designer and developer based in Colombia.
    </div>
    <div class="text-one">
      I take into account both sides of the project, users and business to meet the needs of both.
      Applying analytical thinking, user research and evaluation of the best method and solution,
      resulting in functional UI designs and 100% sure of its implementation, this thanks to the
      experience in development acquired in all these years.
    </div>
    <!-- </div> -->
    <div class="btn-flex">
      <button class="red-gradiant-btn">Work together</button>
      <button class="white-btn">Resume</button>
    </div>

  </div>
  <div class="flex-container right">
    <div class="hexagon-img">
      <img src="assets/Shadow.svg">
      <div class="float-logo">
        <img class="white circle" src="assets/logo.svg" alt="logo">
      </div>
    </div>
    <div class="social-icons-flex social-icons-j1">
      <img src="assets/Dribbble.svg" alt="dribdble">
      <img src="assets/GitHub.svg" alt="github">
      <img src="assets/Instagram.svg" alt="instagram">
      <img src="assets/LinkedIn.svg" alt="linkedin">
    </div>
  </div>

</div>
